# Global
.DS_Store
Thumbs.db
*.log

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/

# Local env
.env
*.env.local
infra/env/*.prod
